@import url('https://www.fontsquirrel.com/fonts/poppins');



body {
    font-family: 'Poppins', sans-serif, 'Indian Type Foundry';
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #f0f0f0 60%, #e93e3a 50%) no-repeat;
    overflow-x : hidden;
    
}


.cv-container {
    padding: 10px 10px;
    width: 800px;
    margin: 50px auto;
    background-color: #fff;
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.4);
}

.header {
    display: flex;
    padding: 20px;
    background-color: #ffffff;
    color: #e93e3a;
}

.my-photo-container img{
    position: relative;
    width: 209%;
    margin-top: -16%;
    margin-left: -140%;
    margin-bottom: -100%;
}

.contact-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    padding: 80px 30px;
    margin-bottom: -10%;
    line-height: 1;
}

.contact-info .pa {
    font-size: 25px;
    text-transform: uppercase;
}

.se {
    margin-left: 10%;
    margin-right: -1.2%;
}


.contact-info h1 {
    margin: 0;
    font-size: 90px;
    color: #000;
    
}

.text p {
    margin: 10%;
    width: 35%;
}


section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    background-color: #f0f0f0;
    padding: 20px 20px;

}

section p {
    color: #e93e3a;
}

section a {
    color: #e93e3a;
    text-decoration: none;
    margin: 0 10px;
}

.social i {
    color: black;
}

.social {
    margin-bottom: -40%;
}

/* footer */

.content {
    display: flex;
    padding: 60px 60px;
    justify-content: center;
}

.content h2 {
    color: #e93e3a;
    font-weight: 100;
    text-transform: uppercase;
}



.content-call {
    line-height: 0.5;
    margin-left: -200px;
    margin-top: -90px;
}

.content-call .number {
    margin-left: 6%;
    font-size: 12px;

}



.company-name {
    color: #e93e3a;
}

.content .education .par{
    color: #e93e3a;
}

.experience .parag {
    color: #7e7b7b;

}

.education .parag {
    color: #7e7b7b;
}

.content .it {
    font-style: italic;
    font-size: 10px;
}




@media screen and (max-width: 550px) {

    .cv-container{
        overflow-x : hidden;
    }
    .header {
        padding: 10px;
    }

    .my-photo-container img {
        width: 200px; 
    }

    .contact-info h1 {
        font-size: 28px; 
    }

    .contact-info .pa {
        font-size: 14px;
    }

    /* section {
        padding: 5px 5px;
    } */

    .social {
        justify-self: center;
    }

    .social i {
        font-size: 18px;
        justify-self: center;
    }

    .content h2 {
        font-size: 18px;
    }

    .content .it {
        font-size: 10px;
        grid-template-columns: 1fr ;

    }
    .content {
       
        font-size: 10px;
        flex-direction: column;
    }

   

    .se .social{
        text-align: center;

    }
    
    
}